.container{
   display: flex;
} 
.btn-music:hover{
/*    border: 3px solid rgb(56, 55, 55);
 */   background-color: #212529;
   color: white;
}
.btn-outline-success:hover{
   color: #212529;
   background-color: white;
}
 .cards-styles{
    margin: 15px;
    display: flex;
    justify-content: center;
}
#header img{
   width:40px;
}
#main .carousel-inner img{
   max-height: 50vh;
   /*=== mantiene proporcion de laing==*/
   object-fit: cover; 
   filter: grayscale(70%);
}
#carousel{
   position: relative;
}
#carousel .overlay{
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background-color: rgba(0, 0, 0, 0.5);
   color: #fff;
   z-index: 1;
}
.carousel-control-prev{
   position: absolute;
   z-index: 2;
}
.d-flex{
   margin-left: 15px;
}

#footer{
   background-color: #212529 ;
}
footer .heart{
   width: 30px;
}
#footer a {
   color:#fff;
   text-decoration: none;
}
